.common_heading {
  &.center {
    text-align: center;
  }

  h2 {
    font-family: var(--play_fair);
    font-size: 48px;
    line-height: 58px;

    @include sm() {
      font-size: 31px;
      line-height: 35px;
    }
    @include xs(){
      font-size: 33px;
      line-height: 44px;
    }
   
  }

  p {
    font-size: 22px;
    line-height: 36px;
    font-family: var(--poppin_regular);
    margin-top: 30px;
    color: var(--gray);

    @include xs() {
      font-size: 16px;
      line-height: 23px;
    }
  }

  &.white{
    h2,
    p{
      color: var(--white);
    }
  }
}