#banner {
    .banner_content {
        display: grid;
        grid-template-columns: 755px 1fr;
        // border: 2px solid red;
        padding: 150px 0px 75px;

        .left_banner_details {
            .top {
                h1 {
                    font-family: "Playfair Display", serif;
                    font-size: 90px;
                    color: var(--brand_deep);
                    line-height: 100px;
                }

                p {
                    font-size: 24px;
                    line-height: 38px;
                    letter-spacing: 0.5px;
                    max-width: 499px;
                    margin-top: 44px;
                    // padding-top: 44px;
                }

                a {
                    //    display: inline-block;
                    padding: 29px 36px;
                    background-color: var(--brand_deep);
                    border-radius: 8px;
                    color: var(--white);
                    text-transform: uppercase;
                    margin-top: 50px;
                }
            }

            //  bottom-part
            .bottom {
                margin-top: 95px;

                p {
                    font-size: 22px;
                    color: var(--gray);
                    line-height: 30px;
                }

                .sponsor_list {
                    margin-top: 32px;
                    display: grid;
                    grid-template-columns: 103px 103px;
                    gap: 27px;

                    a {
                        img {
                            width: 100%;
                            object-fit: contain;
                        }

                    }
                }
            }
        }
    }


    .right_banner_image {
        position: relative;
        // border: var(--border);

        .img {
            width: 540px;
            position: absolute;
            left: -135px;
            top: 1px;

            img {
                width: 100%;
            }
        }
    }
}