#our_features{
    background-color: #F2FCFF;
}

.our_features_body{
    border: var(--border);
    display: grid;
    grid-template-columns: 417px 1fr;
    
    .features_description{}
    .feature_list{
        .single_feature_item{
            .icon{
                img{

                }
            }
            h3{

            }
            p{

            }
        }
    }
}